*{
    margin: 0;
    padding: 0;
    background-color: #E3516E;

}
.circle{
   display: flex;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top:  15%;
    margin-bottom: 10%;
     margin-left: 40%;
  flex-wrap: wrap;
  overflow: hidden;
}
span{
    width: 50%;
    height: 50%;
}
span:nth-child(1){
    background: #51B5A9;
}
span:nth-child(2){
    background: #FADE8B;
}
span:nth-child(3){
    background: #F7F3D7;
}